<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Сервис бронирования</title>
</head>
<body onload="function1();writeUserData();checkJwt()">
    {% include 'header.html' %} 
    <main></main>
        <h1>Бронирование</h1>
        <div>
            <p>Имя клиента:</p>
            <input id = "userFirstName"><br>
            <p>Фамилия клиента:</p>
            <input id = "userLastName"><br>
            <p id = "masterName"></p>
            <p id = "address"></p>
            <p id = "time"></p>
            <p id = "price"></p><br>
            <button onclick="payment()">Перейти к оплате</button>
        </div>
    </main>
    <footer>
        
    </footer>
</body>
<script src ="/static/js/header.js"></script>
<script>

function payment(){
    const splittedHref = window.location.href.split('/');
    const slot_id = splittedHref[splittedHref.length - 2];

    window.location.replace(`/payment/${slot_id}/`)
}

async function writeUserData(){
    const userFirstName = document.querySelector("#userFirstName");
    const userLastName = document.querySelector("#userLastName");
    const masterName = document.querySelector("#masterName");
    const address = document.querySelector("#address")
    const time = document.querySelector("#time");
    const price = document.querySelector("#price")

    const splittedHref = window.location.href.split('/');
    const slot_id = splittedHref[splittedHref.length - 2];

    const d = {
            method: "POST",
            headers: { "Content-Type": "application/json"},
            body: JSON.stringify({"jwt" : document.cookie}),
        };
    

    data = await fetch(`/api/get-booking-data/${slot_id}`, d).then(
        (response) => response.json()
    );

    userFirstName.value = data["firstName"]
    userLastName.value = data["lastName"]
    masterName.textContent = `Ваш мастер: ${data["masterName"]}`
    address.textContent = `Адрес: ${data["address"]}`
    time.textContent = `Время записи: ${data["time"]}`
    price.textContent = `Цена: ${data["price"]}`

}

function checkJwt(){
    if (!document.cookie.includes("jwt")) {
        window.location.replace('/login/')
    }
}
</script>

</html>