<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Сервис бронирования</title>
    <link rel = "stylesheet" href="/static/css/location.css">
</head>
<body onload="function1()">
    {% include 'header.html' %} 
    <main>
        <form method="post">
            <select name = "date" id = "date"><br>
                {% for day in days %}
                    <option onblur="submit();" type = "submit" value="{{day[1]}}">{{day[0]}} ({{day[1]}})</option>
                {% endfor %}
            </select>

            <input type="submit" value="Подтвердить" name = date id="date"><br>
        </form>
        <br>
        <table>
            <tr><th>Master</th><th>9:00</th><th>9:30</th><th>10:00</th><th>10:30</th><th>11:00</th><th>11:30</th><th>12:00</th><th>12:30</th><th>13:00</th><th>13:30</th><th>14:00</th><th>14:30</th><th>15:00</th><th>15:30</th><th>16:00</th><th>16:30</th><th>17:00</th><th>17:30</th><th>18:00</th><th>18:30</th><th>19:00</th><th>19:30</th></tr>
            {% for master in masters %}
                <tr><th>{{ master[0]['first_name'] + " " + master[0]['last_name'] }}</th>
                    {% for slot in master[1] %}
                    <th><a href="/addresses/{{master[0]['location_id']}}/book/{{slot['id']}}">{{slot['type']}}</a></th>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </main>
    <footer>

    </footer>
</body>
<script>
    async function function1() {
    var ul = document.getElementById("header");
    var li = document.createElement("li");

    console.log(document.cookie)

    if (!document.cookie.includes("jwt")) {
        
        li.innerHTML = `<a href="/login/">Вход</a>`;
        ul.appendChild(li);
    }
    else{
        li.innerHTML = `
        <a href="/logout/">Выйти</a>
        `;
        ul.appendChild(li);
    }
}
</script>
</html>

