<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Сервис бронирования</title>
</head>
<body>
    <header>
        {% include 'header.html' %} 
    </header>

    <main>
        <h2>Вход в аккаунт</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="post">
            
            <p>Введите email</p>
            <input type="email" name = "email" id = "email"><br>

            <p>Введите пароль</p>
            <input type="password" name = "password" id = "password"><br>

            <a href ="/register/">Регистрация</a>
            <input type="submit" value="Войти" name = submit id="submit"><br>
        </form>
    </main>
</body>
</html>