<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Сервис бронирования</title>
</head>
<body onload="function1()">
    {% include 'header.html' %} 

    <main>
        <h2>Вход в аккаунт</h2>

        <div id = "errors"></div>
            
        <p>Введите email</p>
        <input type="email" name = "email" id = "email"><br>

        <p>Введите пароль</p>
        <input type="password" name = "password" id = "password"><br>

        <p>Запомнить пароль?</p>
        <input type="checkbox" value="Запомнить пароль" name = "Запомнить пароль" id="remember"><br>
        
        <a href ="/register/">Регистрация</a>
        <button onclick="login()" value="Войти" name = submit id="submit">Войти<br>

    </main>
</body>
<script>
    async function login(){
        const email = document.querySelector("#email").value;
        const password = document.querySelector("#password").value;
        const rememer =document.querySelector("#remember").value
        
        if (!email || !password){
            document.getElementById("errors").innerHTML = "Введите данные"
            return
        }

        const d = {
            method: "POST",
            headers: { "Content-Type": "application/json"},
            body: JSON.stringify({"email" : email, "password" : password}),
        };

        const jwt = await fetch('/login/', d).then(
            (response) => response.text());

        if (jwt.split('.').length == 3){
            if (rememer){
                document.cookie = `jwt=${jwt};path=/;max-age=1800`;
            }
            else{
                document.cookie = `jwt=${jwt};path=/`
            }
            window.location.replace('/')
        }
        else{
            document.getElementById("errors").innerHTML = "Неверный логин или пароль"
        }
    }
        
    window.onload = function(){
        if (document.cookie.includes("jwt")) {
            window.location.replace('/')
        }
    }
</script>
<script src = '../static/js/header.js'></script>
</html>