

<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Сервис бронирования</title>
</head>
<body onload="function1()">

    {% include 'header.html' %} 

    <main>
        <form method="post">
            <input type="text" name = "first_name" id = "first_name"><br>
            <input type="text" name = "last_name" id = "last_name"><br>
            <select name = "location_id" id = "location_id"><br>
                {% for location in locations %}
                <option value="{{location[0]}}">{{location[1]}}</option>
                {% endfor %}
            </select>
            <input type="submit" name = adress id="address"><br>
        </form>
    </main>
    <footer>

    </footer>
</body>

<script src="../static//js/header.js"></script>
<script src = '../static/js/header.js'></script>
</html>